

.header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.86em 4.2%;

    &__logo 
    {
        width: 45px;
    }

    &__btn-menu 
    {
        cursor: pointer;
        transition: transform 300ms;
        &:hover
        {
            transform: scale(1.1);
        }
    }
}


.nav {
    display: none;
}


.menu-mobile
{
    background-color: $color-AlmostWhite;
    height: 100vh;
    width: 68%;
    margin-left: auto;
    padding:1.8em 1.33em 0em 1.6em;
    transform: translateX(100%);
    transition: transform 300ms;

    &__btn-close 
    {
        display: block;
        margin-left: auto;
        margin-bottom: 5.7em;
        cursor: pointer;
        transition: transform 300ms;
        
        &:hover 
        {
            transform: scale(1.1);
        }
    }

}

.overlay.open .menu-mobile 
{
    transform: translateX(0%);
}

.mobile-nav
{
    &__list
     {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 1.6em;
     }

     &__link
      {
        text-decoration: none;
        color:inherit;
        transition:color;

        &:hover
        {
            color: $color-LightVermil;
        }
      }
}